* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

a:hover {
    text-decoration: none !important;
}


/* Start sile bar */

.sidebar {
    width: 260px;
    height: 100%;
    float: left;
    background-color: #0D0E2E;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 30px;
}

.sidebar .account {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.account a {
    display: flex;
    align-items: center;
    color: #fff;
}

.account a:hover {
    color: #fff;
}

.sidebar .avatar {
    border-radius: 15px;
    height: 60px;
    width: 60px;
}

.menu ul,
.option-box ul {
    padding-left: 0;
    list-style: none;
}

.menu ul li {
    padding: 13px 20px;
    border-radius: 16px;
    margin: 15px 0;
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: space-between;
}

.menu ul li:hover,
.menu ul li.active {
    background-color: #384E85;
}

.menu ul a {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

ul a:hover {
    text-decoration: none;
}

.box-right {
    width: calc(100% - 260px);
    float: left;
    margin-left: 260px;
    padding: 20px 25px;
}

.tieude {
    font-weight: bold !important;
    margin-bottom: 25px !important;
}

.box-right .option-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.box-right .option-box a {
    border: 2px solid #384E85;
    padding: 3px 15px;
    border-radius: 20px;
    margin-right: 10px;
    color: #384E85;
    font-weight: 500;
    transition: .2s;
}

.box-right .option-box a.active,
.box-right .option-box a:hover {
    background-color: #C1C4FF;
    border: 2px solid #C1C4FF;
    text-decoration: none;
}


/* End sile bar */


/* Tổng  Quan */

.slide .card {
    width: 380px !important;
    height: 120px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.slide .card-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.slide .card .card-body.p-0 {
    margin-left: 15px;
}

.slide .card .aut img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.slide .card .info {
    font-size: 11pt;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide .card .dealine {
    font-size: 11pt;
}

.slide .card .col-md-8 {
    display: flex !important;
    align-items: center;
}

.thongbao-box {
    border-radius: 20px;
    min-height: 200px;
    width: 49%;
    height: 300px;
    overflow-y: scroll;
    float: left;
}


/* width */

.thongbao-box::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.thongbao-box::-webkit-scrollbar-track {
    background: transparent;
    overflow: hidden;
}


/* Handle */

.thongbao-box::-webkit-scrollbar-thumb {
    background: #efefef;
}


/* Handle on hover */

.thongbao-box::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.thongbao-box1 {
    margin-right: 2%;
}

.thongbao .info {
    display: flex;
}

.thongbao .item {
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
}

.thongbao a {
    color: #000;
}

.thongbao .info>div {
    display: flex;
    align-items: center;
    line-height: 10px;
}


/*box-shadow*/

.thongbao-shadow {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
}


/* Tin nhan */

.hinhchat {
    width: 60px;
    height: 60px;
}

.thongbao img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.tinnhan .info {
    justify-content: space-between;
}

.tinnhan .item {
    width: 100%;
    display: flex;
    padding-bottom: 0 !important;
}

.tinnhan .item a {
    cursor: pointer;
}

.boxtinnhan_right {
    position: relative;
    padding-top: 10px;
}

.chat_buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: #fff;
}

.chat_buttons input {
    border-radius: 20px;
    border: 1px solid #efefef;
    padding-left: 20px;
    width: 96%
}

.chat_buttons svg {
    cursor: pointer;
}

.chat_buttons input:focus {
    outline: none;
}

.doanchat {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.doanchat .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 100%;
    color: #999;
}

.doanchat2 p {
    margin-right: 45px;
    margin-top: 3px;
}

.doanchat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.doanchat p {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 0;
    line-height: 40px;
    margin-left: 5px;
}

.khungchat {
    height: calc(100vh - 170px) !important;
    overflow-y: scroll;
}


/* width */

.khungchat::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.khungchat::-webkit-scrollbar-track {
    background: #efefef;
}


/* Handle */

.khungchat::-webkit-scrollbar-thumb {
    background: #fff;
}


/* Handle on hover */

.khungchat::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.khungchat {
    padding: 10px 20px;
}

.nguoinhan {
    float: right;
    flex-direction: row-reverse;
}

.nguoinhan p {
    background-color: #384E85;
    color: #fff;
    margin-right: 0;
}

.nguoinhan img {
    margin-left: 5px;
}

.nguoinhan span {
    color: #fff;
    margin-bottom: 5px;
}


/* End Tổng Quan */

.bangdiem {
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 30px;
}


/* Bảng Điểm */

.tdbangdiem {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    padding: 0 30px;
}

.tdbangdiem span {
    float: right;
}

.tdbangdiem span strong {
    font-size: 23px;
}

.tbbangdiem {
    font-weight: normal !important;
    text-align: left;
}

.tbbangdiem tr {
    height: 35px;
}

.bgtimnhat {
    background-color: #F4F2FF;
}

.bgtimnhat td {
    color: #6E6893;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.tbbangdiem tr td:nth-child(1) {
    padding-left: 37px;
    /* width: 0; */
    color: #8B83BA;
    font-size: 20px;
    line-height: 35px;
}

.tbbangdiem tr td:nth-child(2) {
    width: 670px;
    color: #25213B;
    font-weight: 500;
}

.tbbangdiem tr td:nth-child(2) span {
    color: #6E6893 !important;
}

.tbbangdiem tr td:nth-child(3) {
    width: 300px;
    color: #25213B;
    font-weight: 600;
    text-align: right;
}

.tbbangdiem tr td:nth-child(3) span {
    font-weight: 700 !important;
    font-size: 18px;
}

.tbbangdiem tr td:nth-child(4) {
    line-height: 40px;
    text-align: center !important;
}

.tbbangdiem tr td:nth-child(4) a {
    color: #6E6893 !important;
}

.bgtimnhat td:nth-child(4) {
    padding: 0 !important;
}

.bgtimnhat td:nth-child(4) .uim-svg {
    margin: 0 30px !important;
    font-size: 35px;
}

.bgtimnhat:nth-child(2) td:nth-child(3) {
    color: #6E6893 !important;
}


/* End Bảng Điểm */


/* Khóa Học */

.khoahoc {
    margin-top: 20px;
}

.boxkhoahoc {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    /* height: 400px; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.khoahoc-loai a {
    padding: 2px 15px;
    border: 2px solid #2a81cb;
    border-radius: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: #2a81cb;
}

.khoahoc-loai a:hover {
    background-color: #9545ff61;
    text-decoration: none;
    border: 0px;
}

.imagekh {
    width: 15%;
    height: 180px;
}

.imagekh img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.ttkhoahoc img {
    width: 18px;
    height: 18px;
}

.ttkhoahoc {
    width: 50%;
}

.trong {
    width: 15%;
}

.ttkhoahoc .title {
    font-weight: bold;
}

.gia {
    width: 15%;
}

.gia .btn-success {
    padding: 5px 30px;
}

.khoahoc .mota {
    font-size: 11pt;
}

.baitap {
    width: 100%;
    float: left;
}

.baitap a {
    padding: 4px 10px;
    text-align: center;
    margin-right: 19px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1B2A4F;
    border-radius: 18px;
    border: 2px solid rgba(132, 136, 255, 0.5);
    font-weight: bold;
}


/* End Khóa Học */


/* Thông Báo */

.boxthongbao-left {
    width: 40%;
    float: left;
    background-color: #fff;
}

.boxthongbao-right {
    width: 50%;
    float: left;
    background: #f5f5f5;
    height: 100%;
    position: relative;
    /* overflow-y: scroll; */
}

.boxthongbao-chitiet i {
    color: #A2A1FF;
}

.boxthongbao-chitiet,
.boxthongbao-chitiet2 {
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.boxthongbao-chitiet2 {
    width: 95%;
    margin-left: 5% !important;
    margin-top: 50px !important;
    float: left !important;
    text-align: left;
    transform: none;
    top: 0;
    left: 0;
    position: absolute;
}

.boxthongbao-chitiet i {
    font-size: 70px;
}

.tieude-tb {
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.author-time {
    color: #949494;
    /*nhạt hơn text-secondary*/
}

.thongbao-shadow a:hover {
    text-decoration: none;
}


/* End Thông Báo */

.d-row {
    width: 100%;
    float: left;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.d-div3 {
    width: 24%;
    /*29% - 318px*/
    float: left;
    margin-bottom: 30px;
    /* margin-right: 6.5%; */
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    height: 400px;
}

.d-div3:nth-child(3n) {
    margin-right: 0% !important;
}

.d-div3-img {
    width: 100%;
    height: 38%;
    float: left;
    background-color: #BCD1FF;
    text-align: center;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
}

.d-div3-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d-info {
    margin-top: 15px !important;
    width: 90%;
    margin: 0 auto;
}

.d-info1 {
    width: 50%;
    float: left;
    font-size: 12pt;
}

.d-row100 {
    margin-top: 15px;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.d-info1>img {
    border: 1px solid #efefef;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.d-info2 {
    width: 60%;
    float: right;
    text-align: right;
    color: #6E798C;
    font-size: 11pt;
    font-weight: 700;
}

.d-info2 .nutnopbai:hover {
    color: #ff0000;
}

.d-info2 .nutnopbai {
    border: #ff0000 2px solid;
    border-radius: 5px;
    color: #ff0000;
    float: left;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: white;
}

.d-row1 {
    width: 100%;
    float: left;
}

.d-row1>p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
}


/* 
.d-row1>span {
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
} */

.d-hc a {
    color: #6E798C !important;
}

.mb-18 {
    margin-bottom: 25px;
}

.d-ttcn {
    width: 100%;
    float: left;
    padding-top: 3px;
}

.d-tt-img {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.d-tt-img>img {
    width: 20%;
    float: left;
    object-fit: cover;
}

.d-tt-img-text {
    width: 46%;
    margin-left: 4%;
}

.d-tt-img-text p {
    margin-bottom: 12px;
    color: #554a5a;
    font-size: 18px;
}

.d-tt-img-text span {
    color: #a28cac;
    font-size: 13px;
}

.d-tt-80 {
    width: 90%;
    margin: 0 auto;
}

.d-tt-95 {
    width: 95%;
    margin: 0 auto;
}

.d-tt-100 {
    width: 100%;
    float: left;
}

.d-tt-text-theme {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 18px;
}

.d-tt-text-title {
    width: 50%;
    float: left;
    text-align: right;
    font-size: 14px;
    color: rgb(151, 148, 142);
}

.d-tt-text-100 {
    width: 100%;
    float: left;
}

.d-tt-left {
    width: 40%;
    float: left;
    border: 1px solid #efefef;
}

.d-tt-right {
    width: 58%;
    float: left;
    margin-left: 2%;
    background-color: white;
    margin-bottom: 4px;
}

.mt-30 {
    margin-top: 20px;
}

.d-tt-right .d-tt-95>p {
    margin-top: 15px;
    font-size: 23px;
    font-weight: 600;
    color: rgb(41, 39, 39);
}

.d-tt-right .d-tt-95>span {
    margin-bottom: 15px;
    font-size: 17px;
    color: rgb(73, 65, 65);
}

.d-tt-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}

.d-tt-form label {
    font-size: 15px;
    color: rgb(122, 108, 108);
}

.btn-primary {
    background-color: #0D0E2E !important;
    border-color: #0D0E2E !important;
}

.boxthongbao-chitiet h4 {
    font-weight: bold;
}

.d-tb-red {
    color: red;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

.d-tb-ml20 {
    margin-left: 20px;
}

.d-tb-text {
    margin-left: 60px;
}

.d-tb-info {
    margin-top: 55px;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
}

.d-tb-info p {
    margin-bottom: 5px;
}

.d-tb-text {
    font-size: 14px;
}

.d-mt2 {
    margin-top: 30px;
}

.d-mb-2 {
    margin-bottom: 1px;
}

.d-mt3 {
    margin-top: 30px;
}

.d-mt1 {
    margin-top: 20px;
}

.avatagv {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.option-box1 ul a {
    margin-right: 25px;
    color: gray;
    font-weight: bold;
    font-size: 11pt;
}

.ndbaitap {
    width: 73%;
    min-height: 500px;
    float: left;
    padding: 25px 35px;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-bottom: 30px;
}

.nopbaitap {
    width: 24%;
    min-height: 200px;
    float: right;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-bottom: 30px;
}

.ndbaitap span {
    font-weight: bold;
    white-space: pre-wrap;
}

input[type=file] {
    display: none;
}

.nopbaitap label {
    /* border: #3f00ff 2px solid; */
    border-radius: 5px;
    padding: 6px 0px;
    color: #007bff;
    /* float: left; */
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.diemnb {
    border: #ff0000 2px solid;
    padding: 5px 23%;
    border-radius: 5px;
    color: #ff0000;
    float: left;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: white;
}

@media only screen and (min-width: 1500px) {
    .sidebar {
        width: 300px;
    }
    .box-right {
        width: calc(100% - 300px);
        margin-left: 300px;
    }
    .d-div3 {
        width: 23%;
        margin-right: calc(8%/3);
        position: relative;
        height: 420px;
    }
    .d-row {
        justify-content: unset;
    }
    .d-div3:nth-child(3n) {
        margin-right: calc(8%/3) !important;
    }
    .d-div3:nth-child(4n) {
        margin-right: 0;
    }
    .d-div3-img {
        height: 200px;
    }
    .d-info1 {
        width: 73%;
    }
    .box-bot {
        position: absolute;
        bottom: 15px;
        left: 0;
        padding: 0 15px;
    }
    .boxthongbao-right {
        width: calc(70% - 300px);
    }
    .thongbao .item {
        width: 100%;
        padding-top: 15px;
    }
    .thongbao-box {
        height: 500px;
    }
}

img {
    object-fit: cover !important;
}