.svfilelb {
    border: #3f00ff 2px solid;
    border-radius: 5px;
    padding: 6px 0px;
    color: #007bff;
    float: left;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.chuaanhshow {
    height: 230px;
}

#showanh {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error {
    color: red !important;
}

.suser .card {
    width: 250px !important;
}

.suser .card .no-gutters {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.suser .card .col-2 {
    font-size: 30px;
}

.box-chart {
    width: 49%;
    height: 700px;
    margin-right: 2%;
}

.thongke-box {
    overflow: unset;
    height: 500px !important;
    margin-right: 2%;
}

.thongbao-box {
    border-radius: 0;
}

.chart-div {}